<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="StringConexao" connectionString="User=SYSDBA;PassWord=masterkey;Database=G:\Administrador\Desktop\Scan\DBFirebird\DADOS.FDB;DataSource=localhost;Port=3050;Dialect=3"/>
		
	</connectionStrings>
</configuration>